*{
    padding: 0;
    margin: 0; 
}
html,body{
    height: 100vh;
    width: 100vw;
}
#grad {
    background-image: linear-gradient(-60deg, red, yellow);
    height: 100vh;
    width: 100vw;
    padding: 2%;
  }




footer{
    background: #333;
    padding: 2%;
    margin: 0;
}
div.cr{
    font-weight: bold;
}